.container {
  display: grid;
  grid-template-columns: 200px auto 300px;
  min-height: 20vh;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid black;
}

@media (max-width: 600px) {
  .container {
    overflow-x: auto;
  }
}
