<div class="container">
  <div>
    <input type="text" [formControl]="inputNumber" (change)="onInputNumberChange()"
      oninput="this.value = this.value.replace(/[^\-/0-9.]/g, '').replace(/(\..*)\./g, '$1');">
  </div>
  <div>
    <select [formControl]="calBy" (change)="onCalculate()">
      <option *ngFor="let field of records" [value]="field">
        {{ field }}
      </option>
    </select>
  </div>
  <div>
    {{ result }}
  </div>
</div>


<input type="text" [formControl]="filter">

<div class="container">

  <table>
    <thead>
      <tr>
        <th>category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="categories.length === 0">
        No data
      </tr>
      <tr *ngFor="let category of categoriesList | async">
        <td>
          {{ category }}
        </td>
      </tr>
    </tbody>
  </table>
</div>